.skillsBlock {
    min-height: 90vh;
}

.skillsContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.title {
    color: #3d3d3d;
}

.skills {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
